$base-color: #212121;
$accent-color: rgb(100, 255, 218);
$elevation: 0 20px 20px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.4);

@import "~bootstrap/scss/bootstrap";

/********************************/
/*          Html, Body          */
/********************************/
html, App {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
}

h2 {
  color: white;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

/********************************/
/*          Html, Body End      */
/********************************/

/********************************/
/*          RESPONSIVE          */
/********************************/
@media (min-width: 768px) {
  header.masthead {
    padding-top: calc(3rem + 20px);
  }
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

/********************************/
/*          RESPONSIVE End      */
/********************************/